---
---

@import "master";

$chart-inside-margin: 10px;
$y-axis-width: 35px;
$time-bar-height: 17px;

.main-container {
	display: flex;
	flex-flow: column nowrap;
	font-size: 14px;
	padding-left: 20px;
	padding-right: 20px;
	visibility: hidden;
}

.title-row {
	background: white;
	padding-right: $y-axis-width + $chart-inside-margin;
	padding-bottom: 5px;
	display: flex;
	flex-flow: row nowrap;
}

.chart-upper-row {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 6px;
}

.chart-lower-row {
	padding-right: $y-axis-width + $chart-inside-margin - 1px;
	white-space: nowrap;
	display: flex;
	flex-flow: column nowrap;
	height: 50px;
}

.chart-main {
	width: 100%;
	position: relative;
	user-select: none;
}

.x-axis-container {
	position: relative;
	height: 100%;
}

.timeline-row {
	position: relative;
	margin-top: 5px;
}

.y-axis-container {
	position: relative;
	width: $y-axis-width;
	border-left: 1px solid $dark-grey;
	margin-left: $chart-inside-margin;
	flex: none;
}

.title-container {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-end;
	flex: none;
}

.legend-container {
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	justify-content: flex-end;
}

.legend-row-1 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

.legend-row-2 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

.legend-row-below-1 {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.legend-row-below-2 {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.title {
	font-size: 18px;
	font-weight: bold;
}

.subtitle {
	padding-bottom: 1px;
}

.legend-button {
    text-align: right;
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
	border-radius: $border-radius;
	user-select: none;
	> span {
		position: relative;
		top: 1px;
	}
}

.legend-square {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 8px;
    pointer-events: none;
    position: relative;
    top: 2px;
    left: 2px;
}

.legend-label {
    pointer-events: none;
	padding-right: 10px;
}

.bottom-row {
	padding-top: 30px;
}

.footnote {
    display: inline-block;
    padding: 10px 12px;
    text-align: left;
}

.x-axis-block {
	height: $time-bar-height;
	position: absolute;
	top: 0;
	font-size: 12px;
	display: none;
}

.x-axis-tick {
	position: absolute;
	top: 0;
	border-left: 1px solid $dark-grey;
	height: $time-bar-height;
	pointer-events: none;
}

.x-axis-label {
	position: absolute;
	pointer-events: none;
	user-select: none;
}

.x-axis-label-hover {
	top: $time-bar-height;
}

.x-axis-label-endpoint {
	top: $time-bar-height;
}

.y-axis-tick {
	position: absolute;
	left: 0;
	border-top: 1px solid $dark-grey;
	width: 8px;
}

.y-axis-indicator {
	width: 6px;
	position: absolute;
	left: 0;
}

.y-axis-label {
	position: absolute;
	left: 12px;
}

.y-axis-label-hover {
	display: none;
}

.grid-line {
	position: absolute;
	width: 100%;
	left: 0;
	border-top: 1px solid #d9d9d9;
	z-index: -1;
}

.moving-window {
	border: 2px solid $dark-grey;
	height: $time-bar-height + 4px;
	width: 100px;
	z-index: 2;
	position: relative;
	top: -2px;
	pointer-events: none;
}

.timeline-block {
	height: $time-bar-height;
	position: absolute;
	top: 0;
	font-size: 12px;
	color: white;
	font-weight: bold;
}

.timeline-separator {
	position: absolute;
	top: 0;
	border-left: 1px solid white;
	height: $time-bar-height;
	pointer-events: none;
}

.timeline-label {
	position: absolute;
	pointer-events: none;
	user-select: none;
}
